{# Paginator 블록 #}
{# 사용을 위해선 탬플릿에 {% include "pagination_block.html" %} {% block paginator %} {% endblock %}추가 #}
{% block pagination %}
{% if lines.has_other_pages %}
    {# <div>now page : {{ lines.number }}</div> #}
    <span class = "pagination">
        {% if lines.has_previous %}
            <a href="?page=1">처음 페이지</a>
            <a href="?page={{ lines.previous_page_number }}">&laquo;</a>
        {% else %}
            <span class = "disabled"><span>&laquo;</span></span>
        {% endif %}

        {#{% for i in paginator.page_range %}#}
        {% for i in custom_range %}
            {% if lines.number == i %}
                <span class="active"><span>{{ i }}</span></span>
            {% else %}
                <span><a href="?page={{ i }}">{{ i }}</a></span>
            {% endif %}
        {% endfor %}

        {% if lines.has_next %}
            {% if lines.number >= paginator_idx %}
                <a href="?page={{ lines.next_page_number }}">&raquo;</a>
            {% else %}
                <span>...</span>
                <a href="?page={{ lines.next_page_number }}">&raquo;</a>
                <a href="?page={{ end_page }}">마지막 페이지</a>
            {% endif %}

        {% else %}
            <span class="disabled"><span>&raquo;</span></span>
        {% endif %}
    </span>
{% endif %}
{% endblock %}