<form method="post"> {% csrf_token %}
    <div>customer_id : <input type="text" style="border: none; background: transparent;" name="customer_id"></div>
    <div>age : <input type="text" style="border: none; background: transparent;" name="age"></div>
    <div>satisfaction_score : <input type="text" style="border: none; background: transparent;" name="satisfaction_score"></div>
    <div>membership : <input type="text" style="border: none; background: transparent;" name="membership"></div>
    <div>churn_value : <input type="text" style="border: none; background: transparent;" name="churn_value"></div>
    <div>contract : <input type="text" style="border: none; background: transparent;" name="contract"></div>
    <div>tenure_in_months : <input type="text" style="border: none; background: transparent;" name="tenure_in_months"></div>
    <div>monthly_charge : <input type="text" style="border: none; background: transparent;" name="monthly_charge"></div>
    <div>total_revenue : <input type="text" style="border: none; background: transparent;" name="total_revenue"></div>
    <div>tech_services : <input type="text" style="border: none; background: transparent;" name="tech_services"></div>
    <div>streaming_services : <input type="text" style="border: none; background: transparent;" name="streaming_services"></div>
    <div>combined_product : <input type="text" style="border: none; background: transparent;" name="combined_product"></div>
    <div>number_of_dependents : <input type="text" style="border: none; background: transparent;" name="number_of_dependents"></div>

    <input type="submit" value="create">
</form>