<!-- data loading and pagination test -->
<table class="table-contents" style="padding:10px">
    <tr>
        <th>고객 번호</th>
        <th></th>
        <th>고객 관리 점수</th>
        <th></th>
        <th>나이</th>
        <th></th>
        <th>멤버쉽</th>
        <th></th>
        <th>해지 여부</th>
        <th>변경 여부</th>
        <th>해지 확률</th>
        <th>관리 그룹</th>
        <th>총 요금</th>
    </tr>
    {% for tp in lines %}
        <tr>
            <td style="text-align: center;">{{tp.customer_id}}</td>
            <td></td>
            <td>{{tp.satisfaction_score}}</td>
            <td></td>
            <td>{{tp.age}}</td>
            <td></td>
            <td>{{tp.membership}}</td>
            <td></td>
            <td style="text-align: center;">{{tp.churn_value}}</td>
            <td style="text-align: center;">{{tp.changed}}</td>
            <td style="text-align: center;">{{tp.churn_proba}}</td>
            <td style="text-align: center;">{{tp.churn_proba_group}}</td>
            <td>{{tp.tbcontract.monthly_charge}}</td>
  	    </tr>
    {%endfor%}
</table>

{% include 'pagination_block.html' %}
{% block pagination %}
{% endblock %}