<!-- data loading and pagination test -->
<table class="table-contents" style="padding:10px">
  <tr>
    <th>고객 번호</th>
    <th></th>
    <th>고객 관리 점수</th>
    <th></th>
    <th>나이</th>
    <th></th>
    <th>멤버쉽</th>
    <th></th>
    <th>해지 여부</th>
    <th>변경 여부</th>
    <th>해지 확률</th>
    <th>관리 그룹</th>
  </tr>
  {% for tp in lines %}
    <tr>
      <td>{{tp.customer_id}}</td>
      <td></td>
      <td>{{tp.satisfaction_score}}</td>
      <td></td>
      <td>{{tp.age}}</td>
      <td></td>
      <td>{{tp.membership}}</td>
      <td></td>
      <td>{{tp.churn_value}}</td>
      <td>{{tp.changed}}</td>
      <td>{{tp.churn_proba}}</td>
      <td>{{tp.churn_proba_group}}</td>
  	</tr>
  {%endfor%}
</table>

{% if lines.has_other_pages %}
    <div>now page : {{ lines.number }}</div>
    <span class = "pagination">
        {% if lines.has_previous %}
            <a href="?page={{ lines.previous_page_number }}">&laquo;</a>
        {% else %}
            <span class = "disabled"><span>&laquo;</span></span>
        {% endif %}

    {#{% for i in paginator.page_range %}#}
    {% for i in custom_range %}
        {% if lines.number == i %}
      <span class="active"><span>{{ i }}</span></span>
    {% else %}
      <span><a href="?page={{ i }}">{{ i }}</a></span>
    {% endif %}
  {% endfor %}
  
  {% if lines.has_next %} 
      <a href="?page={{ lines.next_page_number }}">&raquo;</a>
  {% else %}
      <span class="disabled"><span>&raquo;</span></span>
  {%endif %}
</span>
{%endif%}